PORT=3030
DISCORD_APP_ID=1234567890123456789
DISCORD_TOKEN=72-character-token
DISCORD_APP_PUBLIC_KEY=64-alphanumeric-token
DISCORD_OAUTH_SECRET=48-character-secret
DISCORD_REDIRECT_URI=http://localhost:3030/api/auth/discord/callback
DATABASE_URL=postgres://database-username:
JWT_SECRET=64-alphanumeric-secret
FRONTEND_URL=http://localhost:XXXX
CORS_ORIGIN=http://localhost:XXXX